<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../style.css" type="text/css">
        <title>Packages</title>
    </head>
    <body>
        <h1 id="packagesHeader">Packages</h1>
        <param id="links" value={{.}}>
        <div id="linkDiv">
            <p id="linkParagraph"></p>
        </div>
    </body>
    <script>
        const linksObject = JSON.parse(document.getElementById("links").value);
        var linkParagraph = document.getElementById("linkParagraph");
        
        var i = 0;
        linksObject.Links.forEach(function(link){
            linkParagraph.innerHTML += link;
            i += 1;
        });
        
        document.getElementById("packagesHeader").innerHTML += " (" + i + ")";
    </script>
</html>