<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../style.css" type="text/css"/>
        <title id="title">Package</title>
    </head>
    <body>
        <h1 id="nameHeader">PackageName</h1>
        <param id="pkg" value="{{.}}">
        <div>
            <p id="nameParagraph">Name<br>----<br></p>
            <p id="versionParagraph">Version<br>-------<br></p>
            <p id="statusParagraph">Status<br>------<br></p>
            <p id="descriptionParagraph">Description<br>-----------<br></p>
            <p id="dependsParagraph">Depends<br>-------<br></p>
            <p id="preDependsParagraph">PreDepends<br>----------<br></p>
        </div>
    </body>
    <script>
        const pkg = JSON.parse(document.getElementById("pkg").value);
        if (pkg.Name){
            document.getElementById("title").innerHTML = pkg.Name;
            document.getElementById("nameHeader").innerHTML = pkg.Name;
            document.getElementById("nameParagraph").innerHTML += pkg.Name + "<br>";
        }
        if (pkg.Version){
            document.getElementById("versionParagraph").innerHTML += pkg.Version + "<br>";
        }
        if (pkg.Status){
            document.getElementById("statusParagraph").innerHTML += pkg.Status + "<br>";
        }
        if (pkg.Description){
            document.getElementById("descriptionParagraph").innerHTML += pkg.Description + "<br>";
        }
        if (pkg.Depends){
            document.getElementById("dependsParagraph").innerHTML += pkg.Depends + "<br>";
        }
        if (pkg.PreDepends){
            document.getElementById("preDependsParagraph").innerHTML += pkg.PreDepends + "<br>";
        }
    </script>
</html>