body {
    background-color: black;
}

h1 {
    color: white;
}

h3 {
    color: white;
}

a {
    color: teal;
}

a:hover {
    color: rgb(0, 179, 179);
}

a:visited {
    color: rgb(0, 65, 65);
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    color: white;
}